* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.app {
  max-width: 1266px;
  width: 100%;
  margin: 0 auto;
  height: 200vh;
  border: 1px solid white;
  position: relative;
  font-size: 16px; }
  @media (max-width: 850px) {
    .app {
      height: 430vh;
      width: 100vw; } }

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3px;
  position: sticky;
  top: 0;
  margin-bottom: 2px;
  margin-top: 2px;
  background-color: #fff;
  z-index: 1;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1); }
  @media (max-width: 850px) {
    .header {
      grid-template-columns: repeat(4, 25%);
      margin-top: 0; } }
  .header__title {
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 25px; }
    @media (max-width: 850px) {
      .header__title {
        grid-column-end: 3; } }
  .header__menu {
    display: flex;
    justify-content: space-around;
    grid-column: 3;
    padding: 25px; }
    @media (max-width: 850px) {
      .header__menu {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        position: absolute;
        top: 100px;
        right: 10px;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.1);
        opacity: 0; } }
  @media (max-width: 850px) {
    .header__menuItem {
      text-align: center;
      padding: 20px; } }
  .header__menuItemLink {
    cursor: pointer;
    text-decoration: none;
    color: #000; }
    @media (max-width: 850px) {
      .header__menuItemLink {
        text-align: center;
        padding: 20px; } }
  .header__btn {
    display: none; }
    @media (max-width: 850px) {
      .header__btn {
        display: block;
        position: absolute;
        right: 5px;
        top: 16px;
        width: 40px;
        height: 35px;
        border: 0;
        border-top: 5px solid lightgray;
        background: transparent;
        transition: 0.3s transform linear;
        z-index: 2;
        outline: none; }
        .header__btn::after, .header__btn::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          transform: translateY(10px);
          border-top: 5px solid lightgray; }
        .header__btn::after {
          transform: translateY(25px);
          transition: 0.3s transform linear; }
        .header__btn:focus {
          transform: rotate(45deg) translateY(5px);
          border: none; }
          .header__btn:focus + .header__menu {
            opacity: 1; }
        .header__btn:focus::after {
          transform: rotate(-90deg) translate(-10px); } }

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);
  grid-gap: 2px; }
  @media (max-width: 850px) {
    .main {
      grid-template-columns: repeat(4, 25%);
      grid-template-rows: repeat(3, 100px); } }
  .main__bigImg {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 1px solid #000;
    padding: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    @media (max-width: 850px) {
      .main__bigImg {
        grid-column-end: 5;
        grid-row-end: 4; } }
  .main__bigImgTextElement {
    color: #fff;
    font-size: 40px; }
  .main__tiles {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4; }
    @media (max-width: 850px) {
      .main__tiles {
        grid-row-start: 4;
        grid-column-end: 5; } }
  .main__bigTiles {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 850px) {
      .main__bigTiles {
        grid-row: 4;
        flex-direction: column;
        align-items: stretch;
        padding-bottom: 3px; } }
  .main__tileItem {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 3px;
    position: relative; }
    @media (max-width: 850px) {
      .main__tileItem {
        align-items: center;
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
        border-left: 1px solid #ddd; } }
  .main__tilesItemImgBox {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 850px) {
      .main__tilesItemImgBox {
        display: none; } }
  .main__tileItemImg {
    width: 100%; }
  .main__tileItemTitle {
    width: 100%;
    height: 25px; }
    @media (max-width: 850px) {
      .main__tileItemTitle {
        height: 17px; } }
  .main__tileItemText {
    width: 70%;
    margin-left: 10px;
    height: 56px;
    overflow: hidden; }
    @media (max-width: 850px) {
      .main__tileItemText {
        display: none; } }
  .main__tileItemLink {
    display: none; }
    @media (max-width: 850px) {
      .main__tileItemLink {
        display: block;
        position: absolute;
        right: 30px;
        text-decoration: none;
        color: #666; }
        .main__tileItemLink::after {
          content: ">"; } }
  .main__bigTileItem {
    border: 1px solid #ddd;
    width: 420px; }
    @media (max-width: 850px) {
      .main__bigTileItem {
        width: 100%;
        border: none;
        border-right: 1px solid #ddd; } }
  .main__bigTileItemImgBox {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; }
    @media (max-width: 850px) {
      .main__bigTileItemImgBox {
        height: 50px; } }
  .main__bigTileItemImg {
    width: 100%; }
  .main__bigTileItemTitle {
    width: 100%;
    padding: 10px;
    height: 50%;
    border: 1px solid #ddd; }
    @media (max-width: 850px) {
      .main__bigTileItemTitle {
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
        border: none;
        border-bottom: 1px solid #ddd; } }

.fontDriver {
  border: 1px solid #ddd;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 4;
  height: 50px;
  display: flex;
  justify-content: flex-end; }
  @media (max-width: 850px) {
    .fontDriver {
      grid-row: 5;
      grid-column-end: 5; } }
  .fontDriver__fontSizePanel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 170px; }
  .fontDriver__fontSizeBtn {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    line-height: 13px;
    text-align: center;
    cursor: pointer; }
    .fontDriver__fontSizeBtn:hover {
      color: #666;
      border-color: #666; }

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  border-top: 1px solid #ddd;
  height: 50px;
  line-height: 50px;
  width: 100%; }
