* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  max-width: 1266px;
  width: 100%;
  margin: 0 auto;
  height: 200vh;
  border: 1px solid white;
  position: relative;
  font-size: 16px;
  @media(max-width: 850px) {
    height: 430vh;
    width: 100vw;
  }

}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3px;
  position: sticky;
  top: 0;
  margin-bottom: 2px;
  margin-top: 2px;
  background-color: #fff;
  z-index: 1;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.1);
  @media (max-width: 850px) {
    grid-template-columns: repeat(4, 25%);
    margin-top: 0;
  }
  &__title {
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 25px;
    @media (max-width: 850px) {
      grid-column-end: 3;
    }
  }
  &__menu {
    display: flex;
    justify-content: space-around;
    grid-column: 3;
    padding: 25px;
    @media (max-width: 850px) {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      position: absolute;
      top: 100px;
      right: 10px;
      padding: 0;
      background-color: rgba(0,0,0,.1);
      opacity: 0;
    }
  }
  &__menuItem{
    @media(max-width: 850px) {
      text-align: center;
      padding: 20px;
    }
  }
  &__menuItemLink {
    cursor: pointer;
    text-decoration: none;
    color: #000;
    @media(max-width: 850px) {
      text-align: center;
      padding: 20px;
    }
  }
  &__btn {
    $headerBtn: &;
    display: none;
    @media(max-width: 850px) {
      display: block;
      position: absolute;
      right: 5px;
      top: 16px;
      width: 40px;
      height: 35px;
      border: 0;
      border-top: 5px solid lightgray;
      background: transparent;
      transition: 0.3s transform linear; 
      z-index: 2;
      outline: none;
      &::after, 
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transform: translateY(10px);
        border-top: 5px solid lightgray;
      }
      &::after {
        transform: translateY(25px);
        transition: 0.3s transform linear;
      }
      
      &:focus {
        transform: rotate(45deg) translateY(5px);
        border: none;
        &+.header__menu {
          opacity: 1;
        }
      }
      
      &:focus::after {
        transform: rotate(-90deg) translate(-10px);
      }
    }
  }
}

.main {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 2px;
    @media (max-width: 850px) {
      grid-template-columns: repeat(4, 25%);
      grid-template-rows: repeat(3, 100px);
    }
  &__bigImg {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 1px solid #000;
    padding: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @media (max-width: 850px) {
      grid-column-end: 5;
      grid-row-end: 4;
    }
  }
  &__bigImgTextElement {
    color: #fff;
    font-size: 40px;
  }
  &__tiles {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    @media (max-width: 850px) {
      grid-row-start: 4;
      grid-column-end: 5;
    }
  }
  &__bigTiles {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3;
    display: flex;
    justify-content: space-between;
    @media (max-width: 850px) {
      grid-row: 4;
      flex-direction: column;
      align-items: stretch;
      padding-bottom: 3px;
    }
  }
  &__tileItem {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 3px;
    position: relative;
    @media (max-width: 850px) {
      align-items: center;
      height: auto;
      padding-top: 15px;
      padding-bottom: 15px;
      border-left: 1px solid #ddd;
    }
  }

  &__tilesItemImgBox {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 850px) {
      display: none;
    }
  }
  &__tileItemImg {
    width: 100%;
  }
  &__tileItemTitle {
    width: 100%;
    height: 25px;
    @media(max-width: 850px) {
      height: 17px;
    }
  }
  &__tileItemText {
    width: 70%;
    margin-left: 10px;
    height: 56px;
    overflow: hidden;
    @media(max-width: 850px) {
      display: none;
    }
  }
  &__tileItemLink {
    display: none;
    @media(max-width: 850px) {
      display: block;
      position: absolute;
      right: 30px;
      text-decoration: none;
      color: #666;
      &::after {
        content: ">";
      }
    }
  }
  &__bigTileItem {
    border: 1px solid #ddd;
    width: 420px;
    @media(max-width: 850px) {
      width: 100%;
      border: none;
      border-right: 1px solid #ddd;
    }
  }
  &__bigTileItemImgBox {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    @media (max-width: 850px) {
      height: 50px;
    }
  }
  &__bigTileItemImg {
    width: 100%;
  }
  &__bigTileItemTitle {
    width: 100%;
    padding: 10px;
    height: 50%;
    border: 1px solid #ddd;
    @media (max-width: 850px) {
      height: auto;
      padding-top: 15px;
      padding-bottom: 15px;
      border: none;
      border-bottom: 1px solid #ddd;
    }
  }
}
.fontDriver {
  border: 1px solid #ddd;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 4;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  @media (max-width: 850px) {
    grid-row: 5;
    grid-column-end: 5;
  }
 &__fontSizePanel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 170px;
 }
 &__fontSizeBtn {
   width: 15px;
   height: 15px;
   border: 1px solid black;
   line-height: 13px;
   text-align: center;
   cursor: pointer;
   &:hover {
     color: #666;
     border-color: #666;
   }
 }
}

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  border-top: 1px solid #ddd;
  height: 50px;
  line-height: 50px;
  width: 100%;
}
